- var navOptions = ['Organization', 'Installation', 'Account', 'Logout'];

nav
  div.nav-wrapper.blue-grey.darken-3
    a.brand-logo(href="/dash") Molecular Playground
    a.button-collapse(href="#", data-activates="slide-out")
      i.material-icons menu
    if isAuth  
      ul.right.hide-on-med-and-down
        for item in navOptions
          if item === 'Account'
            li
              a(href='/settings')= item
          else if item === 'Installation'
            li
              a(href='/installation')= item
          else
            li
              a(href='/users/logout')= item
      ul.side-nav#slide-out
        for item in navOptions
          if item === 'Account'
            li
              a(href='/settings')= item
          else if item === 'Installation'
            li
              a(href='/installation')= item
          else
            li
              a(href='/users/logout')= item
    else
      ul.right.hide-on-med-and-down
        li
          a(href='/login') Login
      ul.side-nav#slide-out
        li
          a(href='/login') Login
