extends layout.jade

block content
  div.row
    div.col.m8.s12.offset-m2
      div.card
        div.card-content
          span.card-title.black-text Edit Account
          p #{message}
          form(action='/users/update' method='post')
            div.row
              div.input-field.col.m12.s12
                input(name='firstName' type='text' id='accFirstName' value='#{user.firstName}')
                label(for='accFirstName') First Name
              div.input-field.col.m12.s12
                input(name='lastName' type='text' id='accLastName' value='#{user.lastName}')
                label(for='accLastName') Last Name
              div.input-field.col.m12.s12
                input(name='email' type='text' id='accEmail' value='#{user.email}')
                label(for='accEmail') Email
            div.row
              div.col.m12.s12
                div.input-field
                  textarea(name='bio' placeholder='Bio' style='height:275px,display:none' value='#{user.bio}')
            div.row
              div.col.m6
                a(href='/dash')
                  button.btn.col.m12(type='button') Save Changes
              div.col.m6
                button.btn.col.m12 Cancel
  include scripts.jade
